body{
  margin: 0;
  padding: 0;
  background: url(../img/tree-3822149_1920.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 21px;
  letter-spacing: 3px;
  font-weight: 110;
}
.box p{
  text-align: center;
  color: white;
  text-decoration: none;
}
.box p1{
  text-align: justify;
  font-size: 10px;
  letter-spacing: 2px;
  font_weight:80
}

ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}


a.nav-link:link
{
   color: white;
   text-decoration: none;
}
a.nav-link:visited
{
   color: white;
   text-decoration: none;
}
a.nav-link:hover
{
   color: white;
   text-decoration: none;
}
a.nav-link:active
{
   color: white;
   text-decoration: none;
}
